.tab-container{
    background-color: orange;
}

.tab-header{
    display: flex;
}
.tab-header span{
    margin-left: 50px;
    padding: 20px;
    border-bottom: 5px solid orange;
    cursor: pointer;

}
.tab-header span:hover{
    border-bottom:5px solid beige;
}
.tab-body{
    height: 400px;
    background-color: gray;
}
.active{
    color: white;
}
.child{
    padding: 20px;
    height: 100%;
    width: 100%;
}