.tab{
    list-style:none;
    display: flex;
    justify-content: center;
}

.tab-item{
    margin-right: 50px;
    font-weight: bolder;
    cursor: pointer;
}
.tab-item:hover{
    color: orange;
}


.tab-body{
    width: 500px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 50px;
}

.tab-body-header{
    text-align: center;
}